################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication2
/ConsoleApplication1/.vs
/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/ConsoleApplication1/ConsoleApplication1.vcxproj.user
/ConsoleApplication1/x64/Debug/vc143.pdb
/ConsoleApplication1/x64/Debug/vc143.idb
/ConsoleApplication1/x64/Debug/ConsoleApplication1.vcxproj.FileListAbsolute.txt
/ConsoleApplication1/x64/Debug/NumberFinder.pdb
/ConsoleApplication1/x64/Debug/main.obj
/ConsoleApplication1/x64/Debug/ArrayGenerator.tlog
/ConsoleApplication1/x64/Debug
